<div class="container text-center fs-4">
  <div class="row justify-content-center">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="email" class="mb-3 mt-3">Email</label>
          <input ngModel name="email" type="text" class="form-control" id="email" />
        </div>
        <div class="form-group">
          <label for="pass" class="mb-3 mt-4">Password</label>
          <input ngModel name="password" type="password" class="form-control" id="pass" />
        </div>
        <div class=" d-flex justify-content-evenly">
          <button class="btn btn-primary mt-3" type="submit">Accedi</button>
          <button class="btn btn-primary mt-3 " type="button" (click)="register()">Register</button>
        </div>
      </form>
    </div>
  </div>

</div >
