<div class="container d-flex flex-wrap">
  <div class="card bg-dark m-3" style="width: 30%" *ngFor="let m of moviesFav;let i = index">
    <div class="container" >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + m.data.poster_path"
        class="card-img"
        min-height="600 rem"
        alt="..."

      />
    </div >
    <div class="card-body mt-5">
      <div class="card-footer">
        <button
         [style.color]="m.favId ? 'green' : '' "
         [disabled]="m.favLoading"
         (click)="m.favId ? removeLike(m.favId,i) : addLike(m.data.id,i)"
        class="btn btn-primary fs-3"
        >❤</button>
      </div>
    </div>
  </div>
</div>
