<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="d-block sidebar bg-dark"
       >
    <div class="position-sticky">

        <a
           class="fs-1 mt-4 list-group-item list-group-item-action py-2 ripple listSide"
           aria-current="true"
           >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span [routerLink]="['/']">Movies</span>
        </a>
        <a
           class="fs-1 mt-4 list-group-item list-group-item-action py-2 ripple listSide"
           >
           <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span [routerLink]="['/profile']">Profile</span>
        </a>
        <a (click)="logout()"
           class="fs-1 mt-4 list-group-item list-group-item-action py-2 ripple listSide"
           >
           <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span>Logout</span>
        </a>
      </div>

  </nav>
</header>


<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container pt-4">
    <ng-content></ng-content>
  </div>
</main>
<!--Main layout-->
